/*! General */
a:focus, a:hover {
	text-decoration: none;
}
/*! Font */
@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700,400italic,700italic);
body {
	font-family: "Archivo Narrow", sans-serif;
}

/*! fixed-top nav-bar */

body {
	min-height: 2000px;
	padding-top: 70px;
}
/*! browse-gallery */
.item-thumb {
	margin-bottom: 30px;
}
.item-thumb .caption h5 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}