/*! General */
a:focus, a:hover {
	text-decoration: none;
}
/*! Font */
@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700,400italic,700italic);
body {
	font-family: "Archivo Narrow", sans-serif;
}

/*! browse-gallery */
.item-thumb {
	margin-bottom: 30px;
}
.item-thumb .caption h5 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/*! item-show */
.addthis_sharing_toolbox {
	margin-bottom: 20px;
}
