/*! General */
a:focus, a:hover {
  text-decoration: none;
}

.btn-round {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-width: 0;
}

.btn-round:hover, .btn-round:active, .btn-round.active, .btn-round:focus, .btn-round.focus, .btn-round:visited {
  background-color: #fff !important;
}

.btn-round.previous {
  box-shadow: 1px 0px 3px 0px #888888;
}

.btn-round.next {
  box-shadow: -1px 0px 3px 0px #888888;
}

.btn-round.previous:hover {
  box-shadow: 1px 0px 3px 1px #888888;
}

.btn-round.next:hover {
  box-shadow: -1px 0px 3px 1px #888888;
}

.btn-round .glyphicon {
  position: initial;
}

.btn-round.btn-lg {
  width: 48px;
  height: 48px;
  padding: 10px;
  font-size: 24px;
}

.btn-round.btn-sm {
  width: 34px;
  height: 34px;
}

.btn-round.btn-xs {
  width: 24px;
  height: 24px;
}

/*! Font */
body {
  font-family: "Archivo Narrow", sans-serif;
  line-height: 1.5;
}

/*! Navbar */
header .navbar-brand {
  padding-top: 10px;
  padding-bottom: 10px;
}

header .navbar-brand img {
  height: 30px;
}

/* Autocomplete fix */
.navbar .twitter-typeahead, #home .jumbotron .twitter-typeahead {
  vertical-align: middle;
  width: 100%;
}

.navbar .input-group .twitter-typeahead .form-control, #home .jumbotron .input-group .twitter-typeahead .form-control {
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.navbar .twitter-typeahead .tt-menu, #home .jumbotron .twitter-typeahead .tt-menu {
  padding: 6px 0;
  margin: 10px 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  width: 100%;
}

.navbar .twitter-typeahead .tt-suggestion, #home .jumbotron .twitter-typeahead .tt-suggestion {
  padding: 2px 12px;
  border-top: 1px solid rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  color: #333;
}

.navbar .twitter-typeahead .tt-suggestion:hover, #home .jumbotron .twitter-typeahead .tt-suggestion:hover, .navbar .twitter-typeahead .tt-cursor, #home .jumbotron .twitter-typeahead .tt-cursor {
  background-color: #f5f5f5;
  cursor: pointer;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.form-control:focus {
  border-color: #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

/*! Caret */
.tt-menu::before {
  position: absolute;
  top: -11px;
  left: 9px;
  display: inline-block;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #CCC;
  border-left: 11px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.tt-menu::after {
  position: absolute;
  top: -10px;
  left: 10px;
  display: inline-block;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  border-left: 10px solid transparent;
  content: '';
}

/*! Display autocomplete on mobile */
@media (max-width: 767px) {
  .navbar-collapse.in {
    overflow-y: initial;
  }
}

/*! Sticky footer */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 150px;
}

.footer.common {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 150px;
  background-color: #222;
  border-top: 1px solid #080808;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
}

.footer.common p {
  margin-top: 14px;
}

.footer.common #copyright img {
  height: 45px;
  max-width: 100%;
}

.footer.common #copyright p {
  margin-left: 36px;
}

.footer.common #social p {
  float: right;
}

.footer.common #social ul {
  margin-top: 15px;
  float: right;
}

.footer.common #social ul a {
  color: #fff;
}

@media (max-width: 767px) {
  body {
    /* Margin bottom by footer height */
    margin-bottom: 247px;
  }

  .footer.common {
    height: 247px;
  }

  .footer.common #social p, .footer.common #social ul {
    float: none;
    margin-left: 36px;
  }
}

/*! homepage */
body#home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)), url('../images/background6.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 51px;
}

@media (max-width: 767px) {
  body#home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)), url('../images/background6_mobile.jpg');
  }
}

#home form.navbar-form {
  display: none;
}

#home .footer.common {
  bottom: -150px;
}

@media (max-width: 767px) {
  #home .footer.common {
    bottom: 0;
    display: none;
  }

  body#home {
    margin-bottom: 0;
  }
}

#home .jumbotron {
  background-color: transparent;
  margin-top: 100px;
}

#home .jumbotron h2 {
  color: #fff;
}

@media (max-width: 767px) {
  #home .jumbotron {
    margin-top: 0;
  }
}

#home .jumbotron h1 {
  margin-left: -1.7%
}

#home .jumbotron #logo {
  max-width: 100%;
  max-height: 75px;
}

/*! browse-gallery */
.color-browse .list-inline li {
  width: 5em;
  height: 5em;
  padding: .5em;
  transition: padding .5s;
  margin-left: -0.5em;
  margin-top: -0.5em;
  margin-bottom: -0.5em;
}

.color-browse .list-inline li:first-child {
  margin-left: 0;
}

.color-browse .list-inline li:hover {
  padding: 0;
}

.color-browse .list-inline li div {
  width: 100%;
  height: 100%;
}

#sort_button {
  margin-left: 15px;
  margin-bottom: 6px;
}

#color_board {
  padding: 0;
  min-width: 75px;
}

#color_board ul {
  padding-left: 0;
  list-style: none;
}

#color_board #bar {
  width: 100%;
  height: 3rem;
}

#color_board #bar div {
  width: 100%;
  height: 100%;
}

#color-bar ul {
  padding-left: 0;
  list-style: none;
  margin-top: 5px;
  margin-bottom: 0;
}

#color-bar #bar {
  display: inline-block;
  width: 11.11111111%;
}

#color-bar #bar div {
  width: 2rem;
  height: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5rem;
  margin-bottom: .5rem;
  border-radius: 50%;
  box-shadow: -1px 0px 3px 0px #888888;
  transition: width .5s, height .5s, margin .5s;
}

#color-bar #bar div:hover {
  width: 3rem;
  height: 3rem;
  margin-top: 0;
  margin-bottom: 0;
}

.item-thumb {
  margin-bottom: 30px;
}

.item-thumb .thumbnail {
  position: relative;
}

.item-thumb .thumbnail-container {
  overflow: hidden;
}

.item-thumb .thumbnail img {
  width: 100%;
  min-width: 100%;
  height: 155px;
  max-height: 155px;
  object-fit: cover;
}

.exhibits .item-thumb .thumbnail img, .collections .item-thumb .thumbnail img {
  height: 252.5px;
  max-height: 252.5px;
}

@media (max-width: 767px) {
  .exhibits .item-thumb .thumbnail img, .collections .item-thumb .thumbnail img {
    height: 155px;
    max-height: 155px;
  }
}

.item-thumb .thumbnail .result-type {
  position: absolute;
  top: 16px;
  right: 16px;
}

.item-thumb .caption {
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  -ms-flex-pack: center;
  height: 60px;
}

.item-thumb .caption h5 {
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  margin: 0;
}

.item-thumb .glyphicon-info-sign {
  position: absolute;
  top: initial;
  bottom: 25px;
  right: 20px;
}

.item-thumb .glyphicon-info-sign, #viewer .caption .glyphicon-info-sign {
  cursor: pointer;
}

/* Search results */
.results {
  color: #cccccc;
  margin-bottom: 10px;
}

.results #swatch, .facet-value #swatch {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  padding: .5rem;
  transition: padding .5s;
  margin-top: -0.5rem;
  margin-bottom: -9px;
}

.results #swatch:hover, .facet-value #swatch:hover {
  padding: 0;
}

.results #swatch div, .facet-value #swatch div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: -1px 0px 3px 0px #888888;
}

/* Solr Search results */
#solr-facets .panel-collapse .list-group-item:first-child {
  border-top-width: 1px;
}

.results .facet-kill, .results .facet-kill:hover {
  color: #cccccc;
}

.results .facet-kill #swatch {
  width: 2rem;
  height: 2rem;
  margin-bottom: -5px;
}

/* Solr Modal */
#filterModal .modal-dialog {
  position: fixed;
  right: 0;
  height: 100%;
  margin: 0;
  width: 300px;
}

#filterModal .modal-content {
  height: 100%;
  overflow-y: auto;
  border-radius: 0;
  border: none;
}

#filterModal .modal-header {
  background-color: #222;
  color: #fff;
}

#filterModal .modal-header .close {
  color: #fff;
  opacity: 1;
}

#filterModal .modal-body {
  padding: 0;
}

#filterModal .panel {
  border-right: none;
  border-left: none;
  border-bottom: none;
  border-radius: 0;
  margin-bottom: 0;
}

#filterModal .panel:first-of-type {
  border-top: none;
}

/*! item-show */
.openseadragon-frame {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  background-color: #000;
  margin-bottom: 20px;
  border-radius: 4px;
}

.openseadragon-frame .loader {
  border: solid 4px #231f20;
  border-bottom-color: #d6d7d5;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.openseadragon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.openseadragon h2, .openseadragon p, .openseadragon ul, .openseadragon_viewer h2 {
  display: none;
}

.openseadragon-container textarea, .openseadragon-container button {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.palette #swatch {
  width: 3em;
  height: 3em;
  padding: .5em;
  transition: padding .5s;
  margin-left: -0.5em;
  margin-top: -0.5em;
  margin-bottom: -0.5em;
}

.palette #swatch:first-child {
  margin-left: 0;
}

.palette #swatch:hover {
  padding: 0;
}

.palette #swatch div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: -1px 0px 3px 0px #888888;
}

.addthis_sharing_toolbox {
  margin-bottom: 20px;
  float: right;
}

#pd-download {
  position: absolute;
  z-index: 100;
  right: 25px;
  bottom: 25px;
}

#pd-download a {
  font-size: 1.2em;
  color: #fff;
  font-weight: bold;
}

#pd-download .tooltip-inner {
  min-width: 200px;
}

#meta-related {
  margin-bottom: 20px;
}

.metalist .element dt {
  font-size: 24px;
  font-weight: 500;
}

.metalist .element {
  margin-bottom: 20px;
}

.metalist .element .element-text li {
  margin-bottom: 10px;
}

.metalist .element a {
  color: #333;
}

.metalist .element a::after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\2006\e144";
  color: #cccccc;
}

.metalist .element a:hover::after {
  color: #333;
}

@media (min-width: 768px) {
  .metalist .element dt {
    text-align: initial;
  }

  .metalist .element dd {
    padding-top: 5px;
  }
}

/*! exhibits */
.exhibits.show main .container, .exhibits.summary main .container {
  margin-top: 100px;
  padding-bottom: 15px;
}

.exhibits.show .footer.common .navbar-brand, .exhibits.summary .footer.common .navbar-brand {
  padding-bottom: 15px;
  padding-top: 15px;
}

.exhibition-thumb .thumbnail {
  margin-bottom: 0;
}

.exhibition-thumb .thumbnail img {
  width: 100%;
}

body.exhibits.summary, body.exhibits.show {
  /* Margin bottom by footer height */
  margin-bottom: 51px;
}

.exhibits footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 51px;
  margin-top: 20px;
}

.exhibits footer .navbar-static-bottom {
  z-index: 1000;
  border-width: 1px 0 0;
  border-radius: 0;
  margin-bottom: 0;
}

.exhibits footer .dropdown-menu {
  right: 10px;
  left: initial;
  background-color: #222;
}

.exhibits footer .dropdown-menu>li>a {
  color: #9d9d9d;
}

.exhibits footer .dropdown-menu>.active>a {
  color: #fff;
  background-color: #080808;
}

@media (min-width: 1200px) {
  .exhibits footer .navbar-header {
    float: left;
  }
}

@media (max-width: 1199px) {
  .exhibits footer .navbar-header {
    float: none;
  }
}

@media (min-width: 768px) {
  .exhibits footer .navbar-toggle {
    margin-right: 0;
  }

  .exhibits footer .dropdown-menu {
    right: 0;
  }
}

.summary-nav {
  margin-top: 15px;
}

.summary-nav .previous, .browse-nav .previous {
  position: fixed;
  top: 50%;
  left: 15px;
  margin-top: -24px;
  z-index: 1;
}

.summary-nav .next, .browse-nav .next {
  position: fixed;
  top: 50%;
  right: 15px;
  margin-top: -24px;
  z-index: 1;
}

.exhibits.summary #exhibition_background {
  position: absolute;
  width: 100%;
  height: 100% !important;
  top: 0;
  left: 0;
  z-index: -1000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.exhibits.summary .summary-text {
  color: #fff;
}

.exhibits.summary .summary-text h1, .exhibits.summary .summary-text h3 {
  font-weight: bold;
  text-align: initial;
}

.exhibits.summary .summary-text h3 {
  margin-top: 0;
}

@media (max-width: 1300px) {
  .summary-nav .previous {
    position: initial;
    float: left;
    margin-top: 0;
  }

  .summary-nav .next {
    position: initial;
    float: right;
    margin-top: 0;
  }

  .browse-nav .previous {
    left: -15px;
  }

  .browse-nav .next {
    right: -15px;
  }
}

@media (max-width: 1199px) {
  .summary-nav .previous, .browse-nav .previous {
    position: fixed;
    top: 50%;
    left: 15px;
    margin-top: -24px;
    z-index: 1;
    float: none;
  }

  .summary-nav .next, .browse-nav .next {
    position: fixed;
    top: 50%;
    right: 15px;
    margin-top: -24px;
    z-index: 1;
    float: none;
  }
}

@media (max-width: 1100px) {
  .summary-nav .previous {
    position: initial;
    float: left;
    margin-top: 0;
  }

  .summary-nav .next {
    position: initial;
    float: right;
    margin-top: 0;
  }

  .browse-nav .previous {
    left: -15px;
  }

  .browse-nav .next {
    right: -15px;
  }
}

@media (max-width: 991px) {
  .summary-nav .previous, .browse-nav .previous {
    position: fixed;
    top: 50%;
    left: 15px;
    margin-top: -24px;
    z-index: 1;
    float: none;
  }

  .summary-nav .next, .browse-nav .next {
    position: fixed;
    top: 50%;
    right: 15px;
    margin-top: -24px;
    z-index: 1;
    float: none;
  }
}

@media (max-width: 872px) {
  .summary-nav .previous {
    position: initial;
    float: left;
    margin-top: 0;
  }

  .summary-nav .next {
    position: initial;
    float: right;
    margin-top: 0;
  }

  .browse-nav .previous {
    left: -15px;
  }

  .browse-nav .next {
    right: -15px;
  }
}

@media (max-width: 767px) {
  .openseadragon-frame {
    padding-bottom: 75%;
  }

  .exhibits.show main .container, .exhibits.summary main .container {
    margin-top: 20px;
  }

  .addthis_sharing_toolbox {
    float: none;
  }

  .browse-nav {
    display: none;
  }
}

/* Simple Page */
.simple-page #primary {
  margin-bottom: 20px;
  font-size: 18px;
}

.simple-page #primary .lead {
  font-size: 21px;
}

.simple-page p {
  margin-top: 20px;
}

.simple-page h2 {
  margin-bottom: 20px;
  margin-top: 40px;
}

.simple-page dt {
  margin-top: 10px;
}

#about #the-collection {
  margin-bottom: 0;
}

#about #jump {
  margin-top: 5px;
}

#about #jump a {
  color: #777;
}

/* Error Page */
body.error {
  background-image: url('../images/error_background.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 51px;
}

@media (max-width: 374px) {
  body.error {
    background-position-x: 105px;
  }
}